<h2>Reviews for <%= @restaurant.name %></h2>
<ul class ="no-bullet">
	<% @restaurant.reviews.each do |review| %>
		<li>
			<p><strong><%= review.created_at.strftime("%d %b %y")  %></strong>
			<br><%= review.comment %> <strong>Rating: <%= review.rating %></strong></p>
		</li>
	<% end %>
</ul>