@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

h1 a {
	color: white;
	font-family: 'Londrina Outline', cursive;
	text-decoration: none;
	font-size: 2em;
}

.nav_inner {
	padding-left: 10%;
	padding-right: 10%;
}

.content_wrapper {
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 20px;
}

.form_align {
	margin: 0 auto;
}

.restaurant_item {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.restaurant_title {
	font-size: 1.5em;
}

.notice {
  text-align: center;
  background-color: #2ecc71;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  margin-top: 50px;
}

.field_with_errors input {
	border-color: red;
}