<header>
  <div class="fixed">
    <nav class="top-bar nav_inner fixed " data-topbar >
      <ul class="title-area">
        <li class ="name">
          <h1><a href="/restaurants">Food Binger</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="hover"><%= link_to 'Sign in', new_user_session_path %></li>
        <li class="hover"><%= link_to 'Sign up', new_user_registration_path %></li>
      </ul>
      </section>
    </nav>
  </div>
</header>